@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap");
.accordion1 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: "Courier Prime", monospace; }

.accordion2 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: "Courier Prime", monospace; }

.accordion3 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: "Courier Prime", monospace; }

.active, .accordion1:hover {
  background-color: #f16625; }

.active, .accordion2:hover {
  background-color: #3399ff; }

.active, .accordion3:hover {
  background-color: #ffda3e; }

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden; }
