@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
#estructura {
  width: 500px;
  margin: 0 auto; }

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: "Courier Prime", monospace; }

.accordion:hover {
  background-color: #423144;
  color: white; }

.active {
  background-color: #900d0d;
  color: white; }

.panel {
  font-family: "Courier Prime", monospace;
  padding: 0 18px;
  display: none;
  background-color: #ffdbc5;
  color: black;
  overflow: hidden; }
