$tipografia: 'Courier Prime', monospace;
@import'./Mixins/mixin';

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');


.accordion {
    @include accordion;
    font-family: $tipografia;
}


.active, .html:hover {
    background-color: #f16625; 
  }

.active, .css:hover {
    background-color: #3399ff; 
  }

.active, .js:hover {
    background-color: #ffda3e; 
  }
  
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }